<!DOCTYPE html>
<html>
    <head>
        <title>Página Principal - CRUD</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body class="bg-light">
        <header class="bg-info">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center text-white">Bienvenid@ a Cinelitas</h1>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center my-5">Página principal</h1>
                </div>
                <div class="col-12 col-md-12 col-lg-3 mb-4 mx-auto">
                    <div class="card border">
                        <div class="card-body text-center d-flex flex-column">
                            <h5 class="card-title">Peliculas</h5>
                            <a th:href="@{/peliculas}" class="btn btn-info"><i class="fas fa-eye"></i> Revisar </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-4 mx-auto">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">Agregar nueva pelicula</h5>
                            <a th:href="@{/peliculasN}" class="btn btn-info"><i class="fas fa-plus"></i>Añadir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="text-white">Caso Practico desarrollado por Maria Paula Del Valle Rodriguez- &copy; 2023</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
